<ion-view view-title="Login">
  <ion-content>
    <div class="login-form">
    <div class="list">
  <label class="item item-input">
    <input type="text" placeholder="Username">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Password">
  </label>
	

  <button ng-click="goMeteo()" class="button  button-positive">
  Login
</button>

<button ng-click="goReg()" class="button button-positive">
  Registrazione
</button>


</div>
  </div>
  </ion-content>
</ion-view>
